<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>消息中心</string>
			<key>imageName</key>
			<string>notificationCenter</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>message</string>
			<key>title</key>
			<string>客服中心</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>借款须知</string>
			<key>imageName</key>
			<string>借款须知</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>还款须知</string>
			<key>title</key>
			<string>还款须知</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>关于米米贷</string>
			<key>imageName</key>
			<string>contact</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>分享</string>
			<key>title</key>
			<string>分享米米贷</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>检查更新</string>
			<key>title</key>
			<string>当前版本</string>
		</dict>
	</array>
</array>
</plist>
