<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>父亲</string>
	<string>母亲</string>
	<string>哥哥</string>
	<string>弟弟</string>
	<string>姐姐</string>
	<string>妹妹</string>
</array>
</plist>
