<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>身份证信息</string>
			<key>imageName</key>
			<string>IDInfo</string>
		</dict>
		<dict>
			<key>title</key>
			<string>持证拍照信息</string>
			<key>imageName</key>
			<string>持证牌照信息</string>
		</dict>
		<dict>
			<key>title</key>
			<string>银行卡信息</string>
			<key>imageName</key>
			<string>creditCardInfo</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>工作信息</string>
			<key>imageName</key>
			<string>工作信息</string>
		</dict>
		<dict>
			<key>title</key>
			<string>联系人信息</string>
			<key>imageName</key>
			<string>contact</string>
		</dict>
		<dict>
			<key>title</key>
			<string>补充附件</string>
			<key>imageName</key>
			<string>补充附件</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>更改密码</string>
			<key>imageName</key>
			<string>更改密码</string>
		</dict>
		<dict>
			<key>title</key>
			<string>手机号码</string>
			<key>imageName</key>
			<string>phoneNumber</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>历史申请记录</string>
			<key>imageName</key>
			<string>qq</string>
		</dict>
	</array>
</array>
</plist>
